<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>New Age - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->
  <link href="css/new-age.min.css" rel="stylesheet">
  <link rel="css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,900" rel="stylesheet">
  <style>
    table {
      border: none;
      margin: none;
    }
    body {
      width: 100%;
      height: 100%;
      margin-right: 0px;
      border: 0px;
      background-image: linear-gradient(to right, #7c0a9b , #fc1919);
    }
    button {
      background: none;
      border: none;
      outline: none;
      font-family: "Optima";
      color: black;
      font-size: 16px;
      text-align: center;
    }
    table, tr, td {
      margin: 0px;
      border: 0px;
    }
    .Filters {
      font-family: "Optima";
      font-size: 24px;
      width: 50%;
    }
    select {
      width: 90%;
      background-color: #e6d6ff;
      border: none;
      font-size: 20px;
      font-family: "Optima";
      outline: none;
    }
    input {
      height: 24px;
      width: 90%;
      background-color: #e6d6ff;
      border: none;
      font-size: 20px;
      font-family: "Optima";
      outline: none;
    table{
      border: 50px;
      border-color: black;
      color: white;
      background-color: #4CAF50;
      height: 50px;
      width: %;
    }
  </style>
</head>

<body id="page-top">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#features">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Job Post</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <br>
  <header class="masthead"; style = "position: absolute; z-index: -1000000000000; height: auto !important;">
    <section style="margin: auto;width: 90%;background-color: white;border-radius: 206.5px; position: relative; top: 80px; padding: 20px;">
      <br>
      <table style="width: 100%;">
        <tr><td style="width: 90%;">
          <table style="margin-left: 10%;margin-right:0px;width:90%">
            <tr>
              <td class="Filters">
                <p clas style = "z-index: 100000000000000; color: #000000 !important;">TYPE OF VISA</p>
                <select>
                  <option value="Select">Select</option>
                  <option value="H-1B">H-1B</option>
                  <option value="H-1B1">H-1B1</option>
                  <option value="H-2A">H-2A</option>
                  <option value="H-3">H-3</option>
                  <option value="L">L</option>
                  <option value="O">O</option>
                  <option value="P-1">P-1</option>
                  <option value="P-2">P-2</option>
                  <option value="P-3">P-3</option>
                  <option value="Q-1">Q-1</option>
                </select>
                <br><br>
              </td>

              <td class="Filters">
                <form>
                  <p clas style = "z-index: 100000000000000; color: #000000 !important;">
                  CITY
                </p>
                  <input type="text" name=City>
                </form>
                <br>
              </td>
            </tr>

            <tr>
              <td class="Filters">
                <form>
                  <p clas style = "z-index: 100000000000000; color: #000000 !important;">
                  TITLE OF JOB
                </p>
                  <input type="text" name=JobTitle>
                </form>
              </td>

              <td class="Filters">
                <form>
                  <p clas style = "z-index: 100000000000000!; color: #000000 !important;">
                  COMPANY
                </p>
                  <input type="text" name=Company>
                </form>
              </td>
            </tr>
          </table></td>
          <td><button type="button">
            <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png" style="width:42px;height:42px;"
          </button></td>
        </tr>
      </table>
      <br>
    </section>
    <br><br><br><br><br>

    <!-- Below is this section that needs to be copied and pasted -->
    <section style="margin: auto;width: 90%; padding: 20px;">
      <table style="width:100%;">
        <tr style="width:100%;">
          <td style="width:25%;">
            <table style="width:100%  ">
              <tr>
                <td style="background:white;width:100%;height:40px;">
                </td>
              </tr>
              <tr>
                <td >
                  <div style="background:white;width:5px;height:100px;margin:auto;margin-top:25px;margin-bottom:25px;border-radius:2.5px;">
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="background:white;height:100px;border-radius:50px;width:100px;margin:auto;">
                  </div>
                </td>
              </tr>
              <tr>
                <td >
                  <div style="background:white;width:5px;height:100px;margin:auto;margin-top:25px;margin-bottom:25px;border-radius:2.5px;">
                  </div>
                </td>
              </tr>
            </table>
          </td>

          <td style="height:460px;">
            <table style="margin-left:20%;height:100%;">
              <tr style="height:40px;">
                <td>
                  <h3 style="font-family:'Optima';color:white;height:100%;">
                    JOB TITLE
                  </h3>
                </td>
              </tr>
              <tr>
                <td>
                  <p style="font-family:'Optima';color:white;">
                    Job Description
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <button type="button" style="background:white;width:100px;height:25px;">
                    Website
                  </button>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </section>
  </header>
</body>

</html>
