<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Immigrantion Cube</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->
  <link href="css/new-age.min.css" rel="stylesheet">
  <link href="css/Styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,900" rel="stylesheet">
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Immigrantion Cube</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger grey" href="FilterPage.html">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="info.html">Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="JobPosting.html">Job Post</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="h-50 cont min-height-275">
    <header class="masthead h-100 z-index-back no-min-height height-100">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto" id="button-header">
              <a href="FilterPage.html" class="btn btn-outline btn-xl js-scroll-trigger" id="filter-button">
                <h1 id="button-content">
                  Search
                </h1>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
  <section class="features padding-0" id="features">
    <div class="container padding-56 border-box">
      <div class="section-heading text-left padding-0">
        <br>
        <br>
        <h2>Popular Visas/Work Permits</h2>
        <br>
        <h3>H-1B</h3>
        <p class="text-muted">
          A non-immigrant visa that allows US companies to employ graduate level workers in specialty occupations that require theoretical or technical expertise in specialized fields such as in IT, finance, accounting, architecture, engineering, mathematics, science, medicine, etc. Any professional level job that usually requires you to have a bachelors degree or higher can come under the H-1B visa for specialty occupations. If you do not have a bachelors degree or higher you may be able to show degree equivalence through work experience and/or other qualifications.
        </p>
        <br>
        <h3>H-2B</h3>
        <p class="text-muted">
          Available to employers of foreign workers not working in the agricultural field. This visa is only available for work that is temporary in nature.
        </p>
        <br>

        <h3>L-1</h3>
        <p class="text-muted">
          The L-1 visa is for employees who work for a foreign company that is an affiliate of a U.S. company.  L-1 employees are transferred from the foreign company branch to the U.S. company branch. Or, the L-1 employee can be transferred by the foreign company to the U.S. in order to establish a U.S. office.
        </p>
        <br>

        <h3>E-1</h3>
        <p class="text-muted">
          Allows nationals of certain countries to come to the U.S. in order to carry on trade activities. You must be a national of a country that maintains a trade treaty with the U.S., and you must establish that you are coming to the U.S. to carry on substantial trade.
        </p>
        <br>

      </div>
    </div>
  </section>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  <section class="download bg-primary text-center" id="filter-button">
    <div class="container padding-56 border-box">
      <div class="section-heading text-left padding-0">
        <h2 class="section-heading text-left">Contact Us</h2>
        <br>
        <p class="text-left">Phone: 314-736-6830</p>
        <p class="text-left">Email: ImmigrationCube@Gmail.com</p>
      </div>
    </div>
  </section>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/new-age.min.js"></script>

</body>

</html>
