<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>New Age - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->
  <link href="css/new-age.min.css" rel="stylesheet">
  <link href="css/Styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,900" rel="stylesheet">
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger grey" href="#download">Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger grey" href="#features">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger grey" href="#contact">Job Post</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <form class="border border-light p-5">

    <p class="h4 mb-4 text-center">Job Opening Submission</p>

    <label for="textInput">Job Title</label>
    <input type="text" id="textInput" class="form-control mb-4" placeholder="Text input">

    <label for="textInput">Description</label>
    <input type="text" id="textInput" class="form-control mb-4" placeholder="Text input">

    <label for="textInput">Company</label>
    <input type="text" id="textInput" class="form-control mb-4" placeholder="Text input">

    <label for="textInput">City</label>
    <input type="text" id="textInput" class="form-control mb-4" placeholder="Text input">

    <label for="select">Default select</label>
    <select class="browser-default custom-select mb-4" id="select">
      <option value="" disabled="" selected="">Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>

    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
  </form>
  </div>
  </form>
  <footer>
    <div class="container">
      <p>&copy; Your Website 2018. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/new-age.min.js"></script>

</body>

</html>
